:root {
    --text-color: #0A0A0A ;
    --bg-color: #E3E3E3;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
}



nav {
    background-color: var(--bg-color);
    width: 10rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.nav-selection {
    margin-top: 4rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--text-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 8rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-item {
    cursor: pointer;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;

}

.nav-item svg {
    fill: var(--text-color);
}

main {
    flex-grow: 1;
    margin-top: 1rem;
    padding: 1rem;
    border-top: 2px solid var(--text-color);
    border-left: 2px solid var(--text-color);
    border-top-left-radius: 15px;
    background-color: var(--bg-color);
    box-shadow: -5px -5px 43px -15px #333333;
}