:root {
    --text-color: #0A0A0A ;
    --bg-color: #E3E3E3;
    --accent-color: rgb(from var(--text-color) r g b / 0.5)
}

html.darkmode {
    --text-color: #E3E3E3;
    --bg-color: #141414 ;
}


body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

nav {
    height: 100vh;
    width: var(--sidebar-width, 10rem);
    padding-left: 1rem;
    padding-top: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


main {
    height: calc(100% - 2rem - 2px);
    width: calc(100% - var(--sidebar-width, 10rem) - 2rem - 2px);
    position: absolute;
    left: calc(var(--sidebar-width, 10rem) + 2rem);
    top: 2rem;
    background-color: inherit;
    color: inherit;
    border-top: 2px solid var(--accent-color);
    border-left: 2px solid var(--accent-color);
    border-top-left-radius: 15px;
    box-shadow: 0 0 10px var(--accent-color);
    z-index: 10;
}

