:root {
    --text-color: #0A0A0A ;
    --bg-color: #E3E3E3;
}

html.lightmode {
    --text-color: #0A0A0A ;
    --bg-color: #E3E3E3;
    --accent-color: rgb(from var(--text-color) r g b / 0.5)
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #E3E3E3;
        --bg-color: #141414 ;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: auto;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(from var(--text-color) r g b / 0.3);
    border-radius: 6px;
}


:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
}



main {
    flex-grow: 1;
    height: calc(100vh - 1rem - 2px);
    margin-top: 1rem;
    padding: 0;
    border-top: 2px solid rgb(from var(--text-color) r g b / 0.5);
    border-left: 2px solid rgb(from var(--text-color) r g b / 0.5);
    border-top-left-radius: 15px;
    background-color: var(--bg-color);
    box-shadow: 0 0 1rem 1px rgb(from var(--text-color) r g b / 0.5);
    overflow: auto;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.1);
}
