nav {
    flex-shrink: 0;
    background-color: var(--bg-color);
    color: transparent;
    width: calc(2rem + 24px);
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    fill: rgb(from var(--text-color) r g b / 0.3);
    overflow: hidden;
    transition: all 300ms ease-in-out;
    
}

nav.open {
    color: rgb(from var(--text-color) r g b / 0.3);
    width: 10rem;
    transition: all 300ms ease-in-out;
}

nav svg {
    fill: inherit;
    padding: 0.5rem;
    flex-shrink: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    flex-shrink: 0;
}

.nav-selection {
    margin-top: 4rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(from var(--text-color) r g b / 0.3);
}

.content-selection {
    opacity: 0;
    max-height: 0;
}

.content-selection.open {
    opacity: 1;
    max-height: 10rem;
    transition: 300ms ease-in-out;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: calc(100%-2rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

#menu-bar {
    margin-left: 1rem;
    width: 8rem;
    display: flex;
    justify-content: start;
    margin-top: auto;
    gap: 4rem;
    transition: all 300ms ease-in-out;
}

#menu-bar.closed {
    transform: translateX(calc(-5rem - 24px));
    transition: all 300ms ease-in-out;
}

#menu-bar svg:hover {
    color: var(--text-color);
    fill: var(--text-color);
    border: 0px solid var(--text-color);
    border-radius: 5px;
    background-color: rgb(from var(--text-color) r g b / 0.1);
    transition: 200ms ease-out;
    cursor: pointer;
}



#sidebar-toggle svg{
    transform-origin: center;
    transform: rotate(180deg);
    transition: all 300ms ease-in-out;
}

#sidebar-toggle.closed svg {
    transform: rotate(0deg);
    transition: all 300ms ease-in-out;
}




.nav-item {
    cursor: pointer;
}

.nav-item:hover {
    color: var(--text-color);
    fill: var(--text-color);
    border: 0px solid var(--text-color);
    border-radius: 5px;
    background-color: rgb(from var(--text-color) r g b / 0.1);
    transition: 200ms ease-out;
}


.selected {
    color: var(--text-color);
    fill: var(--text-color);
    border: 0px solid var(--text-color);
    border-radius: 5px;
    background-color: rgb(from var(--text-color) r g b / 0.1);
}





.dropdown {
    list-style-type: none;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease-out , opacity 300ms ease-out;
}


.dropdown.open {
    max-height: 8rem;
    opacity: 1;
    transition: max-height 300ms ease-out , opacity 300ms ease-out;
}



